.modal
    position: fixed
    z-index: 199
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    align-items: flex-start
    justify-content: center
    overflow: auto
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
    backdrop-filter: blur(10px)
    opacity: 0
    visibility: hidden
    transition: 0.3s
    &--active
        opacity: 1
        visibility: visible
    &__container
        min-height: 100%
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        padding: 10px
    &__dialog
        position: relative
        background: url(../img/modal/bg.png) no-repeat center
        width: 100%
        max-width: 1333px
        height: 756px
    &__close
        position: absolute
        top: 50px
        right: 84px
        cursor: pointer
    &-thanks
    &-main
        &__box
            width: 100%
            display: flex
            margin-bottom: 60px
            column-gap: 20px
            justify-content: center
        &__input-group
            width: 100%
            max-width: 385px
        &__title
            font-family: 'BlenderPro', sans-serif
            font-style: normal
            font-weight: bold
            font-size: 80px
            line-height: 90%
            text-align: center
            text-transform: uppercase
            color: #CFFF04
            margin-bottom: 40px
        &__dialog
            padding-top: 220px
        &__button
            display: block
            margin: auto
            width: 657px
            height: 62px
            background: url(../img/modal/modal-main/btn.png) no-repeat center/100% 100%

    &-video
        &__container
            position: relative
            padding: 0
        &__dialog
            position: relative
            z-index: 1
        &__video
            display: block
            margin: auto
            max-width: 100%
            height: auto
            max-height: 100vh
        &__close
            position: absolute
            z-index: 2
            top: 20px
            right: 20px
            cursor: pointer